body {
    padding: 10px;
}

h1.mainTitle {
    text-align: center; 
    border: 3px solid seagreen;
    margin-bottom: 10px;
}

.contentBlock {
    padding: 10px;
    border: 3px solid rebeccapurple;

    &.itemOne {
    min-height: 500px;
    }
}



.itemOne {
    min-height: 250px;
}


